.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    gap: 1rem;
    font-family: sans-serif;
    font-size: 1.2rem;
}

.counter-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.count-display{
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
}

.btns{
    display: flex;
    gap: 1rem;
    flex-direction: row;
}

button{
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    color: white;
    background-color: #007bff;
}